@import "../../assets/less/config.scss";

.dashboardWrapper{
    background-color: #EEF0FA;
    transition: margin-left 0.6s ease;
    margin-left: 5em;
    margin-top: 1em;
    .cardWrapper{
        display: flex;
        padding: 1em;
        .cardHeader{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1em;
        }
        .cardMeta{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .cartMetaContent{
                color:$black;
            }
            span{
                font-size: 10px;
                color:#519C66;
            }
        }
    }
}

.sidebarOpen {
    margin-left: 22.5em; /* Margin when sidebar is open */
}