@import "../../assets/less/config.scss";

.orderWrapper {
    background-color: #EEF0FA;
    transition: margin-left 0.6s ease;
    margin-left: 5em;
    margin-top: 1em;
    .orderButtonWrapper{
        display: flex;
        font-family: $fontVarient3;
        font-size: 16px;
        color: $black;
        padding: 1em;
        justify-content: space-between;
        align-items: center;
        button{
            background-color: #5570F1 !important;
            color: $white !important;
            border-radius: 12px !important;
            font-family: $fontVarient3 !important;
            font-size: 14px !important;
        }
    }
    .cardWrapper{
        .card{
            box-shadow: none;
            border-radius: 12px;
        }        
        .cardCWrapper{
            padding: 1em;
        }
        .cardMeta{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .abandonedContent{
                color:red;
                font-family: $fontVarient3;
            }
            .cartMetaContent{
                color:$black;
            }
            span{
                font-size: 10px;
                color:#519C66;
            }
            .active{
                display: flex;
                align-items: center;
                gap: 6px;
            }
        }
    }
}

.negative{
    color: #CC5F5F !important;
}

.cardHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    .dropDown{
        color: #BEC0CA;
        font-size: 13px;
        font-family: $fontVarient3;
    }
    .markettingText{
        color: $black;
    }
}

.sidebarOpen {
    margin-left: 22.5em;
}

.tableContentWrapper{
    padding: 1em;
    .tableinContent{
        background-color: $white;
        border-radius: 12px;
        .table{
            padding: 1em;
            .customPagination{
                display: flex;
                justify-content: space-between;
                .paginationWrapper{
                    display: flex;
                    color: $black !important;
                    align-items: center;
                    gap: 1em;
                    .perPage{
                        color: #A6A8B1;
                        font-size: 14px;
                        font-family: $fontVarient3;
                    }
                    .from{
                        font-size: 14px;
                        color: #666666;
                    }
                }
            }
        }
    }
    .tableHeadWrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
        .heading{
            font-size: 16px;
            color: $black;
            font-family: $fontVarient3;
        }
        .filterSection{
            display: flex;
            align-items: center;
            gap: 1em;
            .filterBtn{
                display: flex !important;
                align-items: center !important;
                gap: 7px !important;
                background-color: $white !important;
                color: #53545C;
                font-family: $fontVarient3;
                border: 1px solid #53545C;
                border-radius: 7px;
                height: 36px !important;
            }
        }
    }
}

.tableHeader{
    color: #2C2D33 !important;
    display: flex;
    align-items: center;
    gap: 17px;
    img{
        cursor: pointer;
    }
}

.actionBtn{
    border-radius: 8px !important;
    font-family: $fontVarient3;
}

.actionGBtn{
    background-color: #32936F29 !important;
    color: #519C66 !important;
}

.actionBBtn{
    background-color: #5570F129 !important;
    color: #5570F1 !important;
}

.actionOBtn{
    background-color: #FFF2E2 !important;    
}

.filter2Wrapper{
    width: 100%;
}

.filter1Wrapper{    
    padding: 1em;
    .filterHeader{
        font-family: $fontVarient3 !important;
        font-size: 16px;
        color:$black ;
        text-align: left;
        margin-bottom: 0.8em;
    }
    .order{
        color: #53545C;
        text-align: left;
        font-size: 12px;
        font-family: $fontVarient3 !important;
        margin-bottom: 0.8em;
    }
    .checkWrapper{
        display: flex;
        gap: 1em;
        margin-bottom: 0.8em;
        .checkContent{
            color: #83898C;
            font-size: 14px;
        }
    }
    .border{
        border-top: 1px solid #F1F3F9;
        margin-bottom: 0.8em;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    .amountBWrapper{
        display: flex;
        gap: 1em;
        margin-bottom: 0.8em;
        .amountWrapper{
            display: flex;
            flex-direction: column;
            .amountText{
                color: $black;
                font-size: 10px;
                line-height: 15px;
                text-align: left;
            }
        }
    }
    .filterBtn{
        background-color: #5570F1;
        width: 100%;
        color: $white;
        font-family: $fontVarient3;
    }
}

.status{
    color: #53545C;
    font-size: 12px;
    text-align: left;
    margin-bottom: 0.8em;
}
